/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/
/* margin and padding values are reset for all these elements
 * you could remove from there elements you do not used in your documents, but I don't think it'd worth it 
 */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, meter, nav, object, ol, output, p, pre, progress, q, rp, rt, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video, xmp {
  border: 0;
  margin: 0;
  padding: 0; }

/* using height:100% on html and body allows to style containers with a 100% height
 * the overflow declaration is to make sure there is a gutter for the scollbar in all browsers regardless of content
 * note that there is no font-size declaration set in this rule. If you wish to include one,
you should use font-size: 100.01% to prevent bugs in IE and Opera
 */
html {
  height: 100%;
  overflow-y: scroll; }

/* not all browsers set white as the default background color 
 * color is set to create not too much contrast with the background color
 * line-height is to ensure that text is legible enough (that there is enough space between the upper and lower line) 
 */
body {
  height: 100%;
  letter-spacing: .015em;
  margin: 0;
  padding: 0; }

/* letter-spacing makes the font a bit more legible
 */
input, button, textarea, select, h1, h2, h3, h4, h5, h6 {
  letter-spacing: .015em; }

pre, tt, code, kbd, samp, var {
  font-family: "Courier New", Courier, monospace; }

/* Override the default (display: inline) for browsers that do not recognize HTML5 tags.
 * IE8 (and lower) requires a shiv:http://ejohn.org/blog/html5-shiv
 */
article, aside, details, dialog, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* Keeps select list from having odd backgrounds
 */
select {
  background-color: transparent; }

/* styling for links and visited links as well as for links in a hovered, focus and active state 
 * make sure to keep these rules in that order, with :active being last
 * text-decoration: none is to make the links more legible while they are in a hovered, focus or active state
 * a:focus and :focus are used to help keyboard users, you may change their styling, but make sure to give users a visual clue of the element's state.
 * outline:none used with the pseudo-class :hover is to avoid outline when a user clicks on links
 * note that these last rules do not do anything in IE as this browser does not support "outline"
 */
a:link, a:visited, a:hover {
  text-decoration: none; }
a:focus {
  text-decoration: none;
  outline: none; }

:focus {
  outline: none; }

a:hover, a:active {
  outline: none; }

/* this is to prevent border from showing around fieldsets and images (i.e., images inside anchors)
 */
fieldset {
  border: 0; }

img {
  border: 0;
  color: transparent;
  font-size: 0;
  vertical-align: bottom;
  /*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
  */
  -ms-interpolation-mode: bicubic; }

/* to prevent a gap from showing below images in some browsers 
 */
/* Styling of list items
 * This styles sheet contains a class to apply on lists to reset list-type and margin on LIs
 */
ol li {
  list-style-type: decimal; }

ul ol li {
  list-style-type: decimal; }
ul li {
  list-style-type: disc; }
ul ul li {
  list-style-type: circle; }
ul ul ul li {
  list-style-type: square; }

ol ol li {
  list-style-type: lower-alpha; }
ol ol ol li {
  list-style-type: lower-roman; }

ul ul, ol ol, ul ol, ol ul {
  margin-bottom: 0; }
  ul ul ul, ol ol ul, ul ol ul, ol ul ul {
    margin-bottom: 0; }
    ul ul ul ul, ol ol ul ul, ul ol ul ul, ol ul ul ul {
      margin-bottom: 0; }

ul ol ul, ol ul ol {
  margin-bottom: 0; }

/* These should be self explanatory
 * I believe *most* UAs style sub and sup like this by default so I am not sure there is value to include these rules here
 * zeroing out line-height should prevent this from messing with the gap between lines
 */
sub, sup {
  line-height: 0;
  font-size: .8em; }

sub {
  vertical-align: sub; }

sup {
  vertical-align: super; }

/* padding is used so Internet Explorer does not cut-off descenders in letters like p, g, etc.)
 */
legend {
  padding-bottom: .5em; }

/* according to Eric Meyer's reset: tables still need 'cellspacing="0"' in the markup
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }
  table th {
    text-align: left; }

/* See Eric Meyer's article about Fixed Monospace Sizing 
 * http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
 */
code, pre {
  font-family: "Courier New", monospace, serif;
  font-size: 1em; }

code {
  color: #06f; }

/* to prevent some browsers from inserting quotes on "q" and "p" ("p" in blockquotes)
 */
blockquote p:before, blockquote p:after, q:before, q:after {
  content: ''; }

/* These should be self explanatory
 */
th, strong, dt, b {
  font-weight: bold; }

ins {
  text-decoration: none;
  border-bottom: 3px double #333333; }

del {
  text-decoration: line-through; }

abbr, acronym {
  border-bottom: 1px dotted #333333;
  font-variant: normal; }

/* Creating white space (vertical gutters) via padding
 * most authors do not set right/left padding or margin on these elements, they rather use an extra wrapper or style the container with padding to create the left and right gap/gutter they need
 * I find that the latter creates less robust layouts because it leads authors to mix padding with width which creates issue with the broken box model (IE5 or IE6 in quirks mode) 
 * so imho, setting this style using the child combinator (i.e., div > h1) should be the best way to do it, but unfortunately IE 6 does not support such syntax, so I have to go with the following + a reset (see next rule)  

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
ul,
ol,
dl,
fieldset,
address { 
	padding:0 30px;
} */
/* this is to reset the left/right gaps (created by the previous and next rules) on nested elements
 */
dd p, dd pre, dd ul, dd ol, dd dl, fieldset p, fieldset pre, fieldset ul, fieldset ol, fieldset dl, li p, li pre, li ul, li ol, li dl {
  padding-right: 0;
  padding-left: 0; }

/* These should be self explanatory
 */
dd {
  margin-left: 1.5em;
  margin-bottom: 1em; }

li {
  margin-left: 1.5em; }

hr {
  border-top: 1px solid #444444;
  border-bottom: 1px solid white; }
  hr:before {
    margin: 0; }

/* line height helps to set the vertical alignment of radio buttons and check boxes (remember to group these in fieldsets) 
 */
fieldset {
  line-height: 1; }

/*removed his class elements as they are not a reset*/
/* `Basic HTML
----------------------------------------------------------------------------------------------------*/
hr {
  margin: 1.5em; }

/* `Code
----------------------------------------------------------------------------------------------------*/
pre {
  background: #0F0;
  color: #000;
  width: 100%;
  display: block;
  overflow: scroll; }

/**
 * Tables =============================================================
 */
table {
  margin: 0px 0px 10px;
  width: 100%; }
  table caption {
    font-style: italic;
    text-transform: capitalize; }

.fieldset table {
  margin: 0px; }

table td {
  vertical-align: top;
  border-width: 0px 0px;
  padding: 0.5em 0.75em; }
table th {
  vertical-align: top;
  border-width: 0px 0px;
  padding: 0.5em 0.75em;
  padding: 0.5em 0.75em 0.5em 0; }
table thead {
  color: #000;
  text-transform: uppercase;
  font-weight: normal; }
table tbody tr:nth-child(2n-1) {
  background: rgba(255, 255, 255, 0.35); }
table tbody tr:nth-child(2n) {
  background: rgba(0, 0, 0, 0.025); }
table tfoot tr {
  color: #aaa;
  text-transform: uppercase;
  font-size: .7em;
  font-weight: normal; }

/* Header
----------------------------------------------------------------------------------------------------*/
#header-top {
  display: block; }
  #header-top p {
    margin: 0;
    padding: 0;
    line-height: 1em; }

header #identity {
  border-bottom: none;
  text-transform: uppercase; }

/* content-main
----------------------------------------------------------------------------------------------------*/
.messages {
  border-radius: 3px; }

.help, .tab {
  margin: 12.5px; }

/*Aside
------------------------------------------------------------------------*/
/*Sidebar First
------------------------------------------------------------------------*/
/*Sidebar Last
------------------------------------------------------------------------*/
/**
 * Postscript Bottom =======================================================
 */
/**
 * Site Info aka Footer =======================================================
 */
#admin-menu {
  /* I couldn't stand it, I had to make this smaller */
  font-size: 0.7em;
  margin: 0;
  padding: 0; }

p a, table a {
  /* Adds a element to help people recognize it's a link */
  display: inline-block;
  border-bottom: 1px dotted #666666;
  line-height: 1em; }

#skip-link {
  /* for people using screenreaders */
  display: none; }

nav.menu ul {
  margin: 0; }
nav.item-list li, nav.menu li {
  /* overrides drupal menu styling */
  list-style: none;
  margin: 0;
  padding: 0; }

.filter-help p a {
  border: none; }

nav ul li a {
  display: block;
  border-bottom: none; }

/* Main-Menu (named this because of Drupal 7)
----------------------------------------------------------------------------------------------------*/
/* Override style on Menus
----------------------------------------------------------------------------------------------------*/
#main-nav {
  display: block;
  margin: 0;
  padding: 0; }
  #main-nav ul {
    margin: 0; }
  #main-nav li {
    padding: 0;
    margin: 0;
    display: inline; }
    #main-nav li ul li {
      margin: 0;
      padding: 0; }
    #main-nav li ul a {
      margin: 0;
      padding: 0; }
  #main-nav a {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none; }

#secondary-nav ul {
  margin: 0;
  padding: 0; }
#secondary-nav li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0; }
  #secondary-nav li a {
    display: inline-block;
    margin: 0;
    white-space-collapse: discard; }

/* Override Superfish Menus
----------------------------------------------------------------------------------------------------*/
.sf-menu {
  line-height: 1.6em; }
  .sf-menu li {
    float: none;
    padding: 0;
    margin: 0; }
  .sf-menu a {
    padding: 0 0 0 10px; }

.sf-vertical {
  width: 100%; }
  .sf-vertical li {
    width: 100%; }
    .sf-vertical li a {
      display: block;
      width: 100%; }

#main-nav-mobile {
  /* this is for mobile devices. If using a different method we can override or if we are no longer using this method it can be removed. */
  display: none; }

#header-top nav.menu {
  display: inline-block; }
  #header-top nav.menu ul {
    display: inline-block; }
#header-top nav li {
  display: inline; }

#site-info nav li {
  display: inline; }

#header-top p, #header-top nav li a {
  display: inline-block; }

#site-info nav li a {
  display: inline-block; }

a img {
  border-bottom: none; }

/* OVERRIDE FOR DRUPAL TABS 
----------------------------------------------------------------------------------------------------*/
ul.links, ul.tabs, ul.primary {
  width: 100%;
  margin: 0.25em 0 1em 0; }
ul.links li, ul.tabs li, ul.primary li {
  display: inline;
  margin: 0 2px 0 0;
  padding: 0;
  list-style: none; }
ul.tabs li, ul.primary li {
  margin: 0 2px 10px 0; }
ul.links a, ul.tabs a, ul.primary a {
  display: inline-block;
  font-size: .7em;
  letter-spacing: .05em;
  padding: 3px 8px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #dddddd url(../images/button.png) repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #dddddd));
  background: -moz-linear-gradient(top center, white 0%, #dddddd 100%);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  text-shadow: white 0 1px 1px; }
ul.links a:hover, ul.tabs a:hover, ul.primary a:hover {
  background: #333;
  color: #fff;
  text-shadow: none;
  border-color: #333333 #222222 black; }
ul.tabs li.active a, ul.primary li.active a {
  background: #eee;
  color: #999;
  cursor: auto; }
ul.tabs li.active a:hover, ul.primary li.active a:hover {
  color: #999;
  border-color: #dddddd #bbbbbb #999999; }

/* content-main
----------------------------------------------------------------------------------------------------*/
article header h2 a, article footer li a {
  border-bottom: none; }

/**
 Aside Menus =======================================================
 */
/**
 More Buttons =======================================================
 */
.more a, a.more, .more-link a, a.more-link {
  display: inline-block;
  font-size: .7em;
  letter-spacing: .05em;
  padding: 3px 8px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #dddddd url(../images/button.png) repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #dddddd));
  background: -moz-linear-gradient(top center, white 0%, #dddddd 100%);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  text-shadow: white 0 1px 1px;
  margin-bottom: 1em; }
  .more a:hover, a.more:hover, .more-link a:hover, a.more-link:hover {
    background: #333;
    color: #fff;
    text-shadow: none; }

/* `TYPOGRAPHY
----------------------------------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 1.4em; }

h3 {
  font-size: 1.3em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1.1em; }

h6 {
  font-size: 1em; }

h5 {
  font-weight: bold; }

h6 {
  font-weight: bold;
  text-transform: uppercase; }

p, ul, ol, dl {
  line-height: 1.6em;
  margin: 0 0 1em 0; }

p:last-child {
  margin: 0; }

dt {
  font-size: 1em; }

blockquote {
  padding: 0 0 0 1.5em;
  border-left: 5px solid; }

pre, code {
  font-size: .9em; }

h1#site-name {
  text-indent: -9999999px;
  font-size: 0; }

/*FORM TYPOGRAPHY*/
/*-------------------------------------------------------------------------------------*/
textarea, select {
  font-size: 1em; }

input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
  font-size: 1em; }

.form-item label {
  font-size: 1em; }

button {
  font-size: .8em;
  line-height: 1em; }

input[type="reset"], input[type="submit"], input[type="button"] {
  font-size: .8em;
  line-height: 1em; }

form h5, legend {
  font-size: 1.4em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0 0 0.25em 0; }

.form-item label {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.6em; }

.form-type-radio label, .form-type-checkbox label {
  font-size: 1em; }

fieldset fieldset legend {
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-transform: uppercase; }
fieldset fieldset.fieldset-wrapper {
  margin: 0 0 1em 0; }

.description {
  clear: both;
  font-style: italic; }

.fieldset-description {
  font-style: italic;
  margin: 0 0 0.5em 0; }

/*Aside
------------------------------------------------------------------------*/
/*Sidebar First
------------------------------------------------------------------------*/
aside#sidebar-first {
  font-size: .9em;
  line-height: 1em; }

/*Postscript
------------------------------------------------------------------------*/
/*Site Info
------------------------------------------------------------------------*/
#site-info {
  font-size: .8em; }

/*SPECIFIC TYPOGRAPHY*/
/*-------------------------------------------------------------------------------------*/
.wrapper {
  width: 1200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
  /* content-box */
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media only screen and (max-width: 1200px) {
    .wrapper {
      width: 90%; } }

.clearfix:before {
  content: ' ';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.clearfix:after {
  content: ' ';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  clear: both; }

@media only screen and (min-width: 1200px) {
  .desk-1-4-gut-lg {
    width: 10%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .desk-1-4-gut-med {
    width: 22.75%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .desk-1-4-gut-sm {
    width: 24.25%;
    margin-right: 1%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .desk-1-4 {
    width: 25%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .desk-1-4-gut-lg:nth-child(4n) {
    margin-right: 0; }

  .desk-1-4-gut-med:nth-child(4n) {
    margin-right: 0; }

  .desk-1-4-gut-sm:nth-child(4n) {
    margin-right: 0; }

  .desk-1-4-gut-lg:nth-child(4n+1) {
    clear: left; }

  .desk-1-4-gut-med:nth-child(4n+1) {
    clear: left; }

  .desk-1-4-gut-sm:nth-child(4n+1) {
    clear: left; }

  .desk-1-4:nth-child(4n+1) {
    clear: left; }

  .desk-1-3-gut-lg {
    width: 20%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .desk-1-3-gut-med {
    width: 31.33333%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .desk-1-3-gut-sm {
    width: 32.66667%;
    margin-right: 1%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .desk-1-3 {
    width: 33.33333%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .desk-1-3-gut-lg:nth-child(3n) {
    margin-right: 0; }

  .desk-1-3-gut-med:nth-child(3n) {
    margin-right: 0; }

  .desk-1-3-gut-sm:nth-child(3n) {
    margin-right: 0; }

  .desk-1-3-gut-lg:nth-child(3n+1) {
    clear: left; }

  .desk-1-3-gut-med:nth-child(3n+1) {
    clear: left; }

  .desk-1-3-gut-sm:nth-child(3n+1) {
    clear: left; }

  .desk-1-3:nth-child(3n+1) {
    clear: left; }

  .desk-1-2-gut-lg {
    width: 40%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .desk-1-2-gut-med {
    width: 48.5%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .desk-1-2-gut-sm {
    width: 49.5%;
    margin-right: 1%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .desk-1-2 {
    width: 50%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .desk-1-2-gut-lg:nth-child(2n) {
    margin-right: 0; }

  .desk-1-2-gut-med:nth-child(2n) {
    margin-right: 0; }

  .desk-1-2-gut-sm:nth-child(2n) {
    margin-right: 0; }

  .desk-1-2-gut-lg:nth-child(2n+1) {
    clear: left; }

  .desk-1-2-gut-med:nth-child(2n+1) {
    clear: left; }

  .desk-1-2-gut-sm:nth-child(2n+1) {
    clear: left; }

  .desk-1-2:nth-child(2n+1) {
    clear: left; } }
@media only screen and (min-width: 1020px) and (max-width: 1200px) {
  .tablet-1-4-gut-lg {
    width: 10%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .tablet-1-4-gut-med {
    width: 22.75%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .tablet-1-4-gut-sm {
    width: 24.25%;
    margin-right: 1%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .tablet-1-4 {
    width: 25%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .tablet-1-4-gut-lg:nth-child(4n) {
    margin-right: 0; }

  .tablet-1-4-gut-med:nth-child(4n) {
    margin-right: 0; }

  .tablet-1-4-gut-sm:nth-child(4n) {
    margin-right: 0; }

  .tablet-1-4-gut-lg:nth-child(4n+1) {
    clear: left; }

  .tablet-1-4-gut-med:nth-child(4n+1) {
    clear: left; }

  .tablet-1-4-gut-sm:nth-child(4n+1) {
    clear: left; }

  .tablet-1-4:nth-child(4n+1) {
    clear: left; }

  .tablet-1-3-gut-lg {
    width: 20%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .tablet-1-3-gut-med {
    width: 31.33333%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .tablet-1-3-gut-sm {
    width: 32.66667%;
    margin-right: 1%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .tablet-1-3 {
    width: 33.33333%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .tablet-1-3-gut-lg:nth-child(3n) {
    margin-right: 0; }

  .tablet-1-3-gut-med:nth-child(3n) {
    margin-right: 0; }

  .tablet-1-3-gut-sm:nth-child(3n) {
    margin-right: 0; }

  .tablet-1-3-gut-lg:nth-child(3n+1) {
    clear: left; }

  .tablet-1-3-gut-med:nth-child(3n+1) {
    clear: left; }

  .tablet-1-3-gut-sm:nth-child(3n+1) {
    clear: left; }

  .tablet-1-3:nth-child(3n+1) {
    clear: left; }

  .tablet-1-2-gut-lg {
    width: 40%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .tablet-1-2-gut-med {
    width: 48.5%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .tablet-1-2-gut-sm {
    width: 49.5%;
    margin-right: 1%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .tablet-1-2 {
    width: 50%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .tablet-1-2-gut-lg:nth-child(2n) {
    margin-right: 0; }

  .tablet-1-2-gut-med:nth-child(2n) {
    margin-right: 0; }

  .tablet-1-2-gut-sm:nth-child(2n) {
    margin-right: 0; }

  .tablet-1-2-gut-lg:nth-child(2n+1) {
    clear: left; }

  .tablet-1-2-gut-med:nth-child(2n+1) {
    clear: left; }

  .tablet-1-2-gut-sm:nth-child(2n+1) {
    clear: left; }

  .tablet-1-2:nth-child(2n+1) {
    clear: left; } }
@media only screen and (min-width: 760px) and (max-width: 1020px) {
  .v-tablet-1-4-gut-lg {
    width: 10%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-tablet-1-4-gut-med {
    width: 22.75%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-tablet-1-4-gut-sm {
    width: 24.25%;
    margin-right: 1%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-tablet-1-4 {
    width: 25%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-tablet-1-4-gut-lg:nth-child(4n) {
    margin-right: 0; }

  .v-tablet-1-4-gut-med:nth-child(4n) {
    margin-right: 0; }

  .v-tablet-1-4-gut-sm:nth-child(4n) {
    margin-right: 0; }

  .v-tablet-1-4-gut-lg:nth-child(4n+1) {
    clear: left; }

  .v-tablet-1-4-gut-med:nth-child(4n+1) {
    clear: left; }

  .v-tablet-1-4-gut-sm:nth-child(4n+1) {
    clear: left; }

  .v-tablet-1-4:nth-child(4n+1) {
    clear: left; }

  .v-tablet-1-3-gut-lg {
    width: 20%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-tablet-1-3-gut-med {
    width: 31.33333%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-tablet-1-3-gut-sm {
    width: 32.66667%;
    margin-right: 1%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-tablet-1-3 {
    width: 33.33333%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-tablet-1-3-gut-lg:nth-child(3n) {
    margin-right: 0; }

  .v-tablet-1-3-gut-med:nth-child(3n) {
    margin-right: 0; }

  .v-tablet-1-3-gut-sm:nth-child(3n) {
    margin-right: 0; }

  .v-tablet-1-3-gut-lg:nth-child(3n+1) {
    clear: left; }

  .v-tablet-1-3-gut-med:nth-child(3n+1) {
    clear: left; }

  .v-tablet-1-3-gut-sm:nth-child(3n+1) {
    clear: left; }

  .v-tablet-1-3:nth-child(3n+1) {
    clear: left; }

  .v-tablet-1-2-gut-lg {
    width: 40%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-tablet-1-2-gut-med {
    width: 48.5%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-tablet-1-2-gut-sm {
    width: 49.5%;
    margin-right: 1%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-tablet-1-2 {
    width: 50%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-tablet-1-2-gut-lg:nth-child(2n) {
    margin-right: 0; }

  .v-tablet-1-2-gut-med:nth-child(2n) {
    margin-right: 0; }

  .v-tablet-1-2-gut-sm:nth-child(2n) {
    margin-right: 0; }

  .v-tablet-1-2-gut-lg:nth-child(2n+1) {
    clear: left; }

  .v-tablet-1-2-gut-med:nth-child(2n+1) {
    clear: left; }

  .v-tablet-1-2-gut-sm:nth-child(2n+1) {
    clear: left; }

  .v-tablet-1-2:nth-child(2n+1) {
    clear: left; } }
@media only screen and (min-width: 500px) and (max-width: 760px) {
  .mobile-1-4-gut-lg {
    width: 10%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mobile-1-4-gut-med {
    width: 22.75%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mobile-1-4-gut-sm {
    width: 24.25%;
    margin-right: 1%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mobile-1-4 {
    width: 25%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mobile-1-4-gut-lg:nth-child(4n) {
    margin-right: 0; }

  .mobile-1-4-gut-med:nth-child(4n) {
    margin-right: 0; }

  .mobile-1-4-gut-sm:nth-child(4n) {
    margin-right: 0; }

  .mobile-1-4-gut-lg:nth-child(4n+1) {
    clear: left; }

  .mobile-1-4-gut-med:nth-child(4n+1) {
    clear: left; }

  .mobile-1-4-gut-sm:nth-child(4n+1) {
    clear: left; }

  .mobile-1-4:nth-child(4n+1) {
    clear: left; }

  .mobile-1-3-gut-lg {
    width: 20%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mobile-1-3-gut-med {
    width: 31.33333%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mobile-1-3-gut-sm {
    width: 32.66667%;
    margin-right: 1%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mobile-1-3 {
    width: 33.33333%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mobile-1-3-gut-lg:nth-child(3n) {
    margin-right: 0; }

  .mobile-1-3-gut-med:nth-child(3n) {
    margin-right: 0; }

  .mobile-1-3-gut-sm:nth-child(3n) {
    margin-right: 0; }

  .mobile-1-3-gut-lg:nth-child(3n+1) {
    clear: left; }

  .mobile-1-3-gut-med:nth-child(3n+1) {
    clear: left; }

  .mobile-1-3-gut-sm:nth-child(3n+1) {
    clear: left; }

  .mobile-1-3:nth-child(3n+1) {
    clear: left; }

  .mobile-1-2-gut-lg {
    width: 40%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mobile-1-2-gut-med {
    width: 48.5%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mobile-1-2-gut-sm {
    width: 49.5%;
    margin-right: 1%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mobile-1-2 {
    width: 50%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mobile-1-2-gut-lg:nth-child(2n) {
    margin-right: 0; }

  .mobile-1-2-gut-med:nth-child(2n) {
    margin-right: 0; }

  .mobile-1-2-gut-sm:nth-child(2n) {
    margin-right: 0; }

  .mobile-1-2-gut-lg:nth-child(2n+1) {
    clear: left; }

  .mobile-1-2-gut-med:nth-child(2n+1) {
    clear: left; }

  .mobile-1-2-gut-sm:nth-child(2n+1) {
    clear: left; }

  .mobile-1-2:nth-child(2n+1) {
    clear: left; } }
@media only screen and (max-width: 500px) {
  .v-mobile-1-4-gut-lg {
    width: 10%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-mobile-1-4-gut-med {
    width: 22.75%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-mobile-1-4-gut-sm {
    width: 24.25%;
    margin-right: 1%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-mobile-1-4 {
    width: 25%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-mobile-1-4-gut-lg:nth-child(4n) {
    margin-right: 0; }

  .v-mobile-1-4-gut-med:nth-child(4n) {
    margin-right: 0; }

  .v-mobile-1-4-gut-sm:nth-child(4n) {
    margin-right: 0; }

  .v-mobile-1-4-gut-lg:nth-child(4n+1) {
    clear: left; }

  .v-mobile-1-4-gut-med:nth-child(4n+1) {
    clear: left; }

  .v-mobile-1-4-gut-sm:nth-child(4n+1) {
    clear: left; }

  .v-mobile-1-4:nth-child(4n+1) {
    clear: left; }

  .v-mobile-1-3-gut-lg {
    width: 20%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-mobile-1-3-gut-med {
    width: 31.33333%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-mobile-1-3-gut-sm {
    width: 32.66667%;
    margin-right: 1%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-mobile-1-3 {
    width: 33.33333%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-mobile-1-3-gut-lg:nth-child(3n) {
    margin-right: 0; }

  .v-mobile-1-3-gut-med:nth-child(3n) {
    margin-right: 0; }

  .v-mobile-1-3-gut-sm:nth-child(3n) {
    margin-right: 0; }

  .v-mobile-1-3-gut-lg:nth-child(3n+1) {
    clear: left; }

  .v-mobile-1-3-gut-med:nth-child(3n+1) {
    clear: left; }

  .v-mobile-1-3-gut-sm:nth-child(3n+1) {
    clear: left; }

  .v-mobile-1-3:nth-child(3n+1) {
    clear: left; }

  .v-mobile-1-2-gut-lg {
    width: 40%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-mobile-1-2-gut-med {
    width: 48.5%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-mobile-1-2-gut-sm {
    width: 49.5%;
    margin-right: 1%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-mobile-1-2 {
    width: 50%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    /* content-box */
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-mobile-1-2-gut-lg:nth-child(2n) {
    margin-right: 0; }

  .v-mobile-1-2-gut-med:nth-child(2n) {
    margin-right: 0; }

  .v-mobile-1-2-gut-sm:nth-child(2n) {
    margin-right: 0; }

  .v-mobile-1-2-gut-lg:nth-child(2n+1) {
    clear: left; }

  .v-mobile-1-2-gut-med:nth-child(2n+1) {
    clear: left; }

  .v-mobile-1-2-gut-sm:nth-child(2n+1) {
    clear: left; }

  .v-mobile-1-2:nth-child(2n+1) {
    clear: left; } }
/*
body {
	background: lighten($dark-grey, 70%);
	font-size: 115%;
	font-weight: 300;
	font-family: $f-primary;
	letter-spacing: .03em;
	color: $dark-grey;
}

h1 {
	font-family: $f-secondary;
	font-size: 5em;
	letter-spacing: -.0125em;
	color: lighten($dark-grey, 40%);
	@include break(v-tablet) {
		font-size: 3em;
	}
	@include break(v-mobile) {
		font-size: 2em;
	}
}

h2 {
	text-transform: uppercase;
}


.wrapper {
	background: lighten($dark-grey, 90%);
	@include border-bottom-radius();
	&.pad {
		padding: 2em $pad 1em $pad;
	}
}

.heading-left {
	background: lighten($dark-grey, 60%);
	padding: 1em;
	margin-top: 1em;
	@include border-radius();
}

.group-left {
	h2 {
		color: white;
	}
	@include col(1,4,2);
	@include break(tablet) {
		@include col(1,1,0);
	}
}

.group-right {
	@include col-last(3,4,2);
	@include break(tablet) {
		@include col(1,1,0);
	}
}

.columning {
	h2 {
		margin: 1em 0 0 0;
		color: lighten($dark-grey, 30%);
	}
	.group {
		&> div {
			@include border-radius();
			margin-bottom: 1em;
			p {
				padding: 1em;
				text-align: center;
				font-weight: 300;
				text-transform: uppercase;
			}
		}
	}
}

.blue {
	background-color: $blue;
	color: lighten($dark-grey, 70%);
}

.red {
	background-color: $red;
	color: lighten($dark-grey, 70%);
}

.yellow {
	background-color: $yellow;
	color: $dark-grey;
}


.image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	float: right;
	height: 200px;
	width: 47%;
	margin: 0 0 .5em 3%;
	@include border-radius();
	@include break(v-tablet) {
		width: 100%;
		float: none;
		margin: 1em 0;
	}
}
*/
