/* `UI Consistency
----------------------------------------------------------------------------------------------------*/

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  &[type="search"]::-webkit-search-decoration {
    display: none;
  }
  margin: 0;
  vertical-align: middle;
}

button, select, textarea {
  margin: 0;
  vertical-align: middle;
}

input {
  &[type="radio"] {
    position: relative;
    vertical-align: top;
    top: .75em;
    /* IE8, IE9, IE10 */
    top: 0\0;
    /* IE7 */
    *top: -3px;
  }
  &[type="checkbox"] {
    position: relative;
    vertical-align: top;
    top: .75em;
    /* IE8, IE9, IE10 */
    top: 0\0;
    /* IE7 */
    *top: -3px;
    top: .55em;
  }
}

/* iPad */
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px) {
  input {
    &[type="radio"], &[type="checkbox"] {
      vertical-align: baseline;
      top: 2px;
    }
  }
}

/* iPhone 3 */
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 480px) {
  input {
    &[type="radio"], &[type="checkbox"] {
      vertical-align: baseline;
      top: 0;
    }
  }
}

/* iPhone 4 */
@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px) {
  input {
    &[type="radio"], &[type="checkbox"] {
      vertical-align: baseline;
      top: 0;
    }
  }
}

button {
  -webkit-appearance: none;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  cursor: pointer;
  padding: 3px 10px;
  width: auto;
  margin-right: 10px;
  outline: 0;
  overflow: visible;
  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 0px;
}

input {
  &[type="reset"], &[type="submit"], &[type="button"] {
    -webkit-appearance: none;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    cursor: pointer;
    padding: 3px 10px;
    width: auto;
    margin-right: 10px;
    outline: 0;
    overflow: visible;
    /* IE7 */
    *padding-top: 2px;
    *padding-bottom: 0px;
  }
}

button {
  /* IE7 */
  *padding-top: 1px;
  *padding-bottom: 1px;
}

textarea, select {
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  outline: 0;
  padding: .3em .5em .2em .5em;
  height: 1.8em;
  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}

input {
  &[type="date"], &[type="datetime"], &[type="datetime-local"], &[type="email"], &[type="month"], &[type="number"], &[type="password"], &[type="search"], &[type="tel"], &[type="text"], &[type="time"], &[type="url"], &[type="week"], &[type="file"] {
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    outline: 0;
    padding: .3em .5em .2em .5em;
    height: 1.8em;
    /* IE7 */
    *padding-top: 2px;
    *padding-bottom: 1px;
    *height: auto;
  }
}

select {
  cursor: pointer;
}

/*
  Separate rule for Firefox.
  Separate rule for IE, too.
  Cannot stack with WebKit's.
*/

::-webkit-input-placeholder, input:-moz-placeholder, textarea:-moz-placeholder, input.placeholder_text, textarea.placeholder_text {
  color: #888;
}

:invalid {
  /*
  Suppress red glow that Firefox
  adds to form fields by default,
  even when user is still typing.
  */
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input {
  &[type="file"] {
    &:focus, &:active {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  &[type="radio"] {
    &:focus, &:active {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  &[type="checkbox"] {
    &:focus, &:active {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

select[disabled], textarea[disabled] {
  background-color: #eee;
}

input {
  &[type="date"][disabled], &[type="datetime"][disabled], &[type="datetime-local"][disabled], &[type="email"][disabled], &[type="month"][disabled], &[type="number"][disabled], &[type="password"][disabled], &[type="search"][disabled], &[type="tel"][disabled], &[type="text"][disabled], &[type="time"][disabled], &[type="url"][disabled], &[type="week"][disabled] {
    background-color: #eee;
  }
}

button[disabled], input[disabled] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}

select[disabled] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
  option, optgroup {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: #888;
    cursor: default;
  }
}

textarea {
  &[disabled] {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    color: #888;
    cursor: default;
  }
  height: auto;
}

select {
  &[size], &[multiple] {
    height: auto;
  }
}

/* Tweaks for Safari + Chrome. */
@media (-webkit-min-device-pixel-ratio: 0) {
  select {
    background-image: url(../images/select_arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
    cursor: pointer;
    &[size], &[multiple] {
      background-image: none;
      padding: 0;
    }
  }
  ::-webkit-validation-bubble-message {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: #fff;
    font: 1em / 1 "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    padding: 15px 15px 17px;
    text-shadow: #000 0 0 1px;
  }
  ::-webkit-validation-bubble-arrow, ::-webkit-validation-bubble-top-outer-arrow, ::-webkit-validation-bubble-top-inner-arrow {
    display: none;
  }
}

textarea {
  min-height: 30px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

optgroup {
  color: #000;
  font-style: normal;
  font-weight: normal;
}

/* `IE6
----------------------------------------------------------------------------------------------------*/

/*
  Everything below this line is for IE6.
  Delete it if you don't support it! :)

  Classes are added dynamically via JS,
  because IE6 doesn't support attribute
  selectors: .ie6_button, .ie6_input, etc.

  Note: These style rules are somewhat
  duplicated because IE6 bombs out when
  it sees attribute selectors. Example:

  .ie6_button {
  This works in IE6.
}

  .ie6_button,
  input[type=submit] {
  This doesn't work.
}
*/

* html {
  button {
    background: #dddddd url(../images/button.png) repeat-x;
    border: 1px solid;
    border-color: #ddd #bbb #999;
    cursor: pointer;
    color: #333;
    font: bold 12px / 1.2 Arial, sans-serif;
    padding: 2px 10px 0px;
    overflow: visible;
    width: auto;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  textarea {
    background: #fff;
    border: 1px solid;
    border-color: #848484 #c1c1c1 #e1e1e1;
    color: #000;
    padding: 2px 3px 1px;
    font-family: Arial, sans-serif;
    vertical-align: top;
  }
  select {
    background: #fff;
    border: 1px solid;
    border-color: #848484 #c1c1c1 #e1e1e1;
    color: #000;
    padding: 2px 3px 1px;
    font-family: Arial, sans-serif;
    vertical-align: top;
    margin-top: 1px;
  }
}

/* Override adjustments for all forms below
----------------------------------------------------------------------------------------------------*/

/*Forms*/
/*--------------------------*/

form {
  margin: 0 0 2em 0;
}

html.js fieldset.collapsible .fieldset-legend {
  background-position: right;
  padding-left: 0;
}

.fieldset-wrapper fieldset:last-child {
  margin: 0;
  padding: 0;
}

fieldset.collapsible.collapsed {
  margin-bottom: 1em;
}

.fieldset-wrapper fieldset {
  margin-bottom: 1em;
  .fieldset-wrapper {
    margin-bottom: 1em;
  }
}

.form-item, .form-actions {
  margin: 0;
}

.form-checkboxes, .form-radios {
  display: block;
  margin: 0;
}

.form-checkboxes .form-item, .form-radios .form-item {
  display: inline-block;
  padding: 0 10px 0 0;
}

.form-checkboxes .form-item:last-child, .form-radios .form-item:last-child {
  padding: 0;
}

.form-item, .form-actions, .form-checkboxes .form-item, .form-radios .form-item {
  margin: 0 0 .5em 0;
}

.form-type-radio, .form-type-checkboxes {
  margin: 0 0 0 .5em;
}

.description {
  margin: .5em 0 0 0;
  display: block;
}

.webform-component-radios .description {
  margin: -0.5em 0 0 0;
}

.filter-wrapper {
  padding: 0 0 .5em 0;
}

table input {
  &[type="radio"], &[type="checkbox"] {
    top: 2px;
  }
}

/* Inline WebForm Components
----------------------------------------------------------------------------------------------------*/

.webform-container-inline {
  select {
    width: inherit;
    max-width: 100%;
    display: inline;
    width: 75%;
    float: right;
  }
  input {
    &[type="text"], &[type="number"], &[type="password"], &[type="search"], &[type="email"] {
      width: inherit;
      max-width: 100%;
      display: inline;
      width: 75%;
      float: right;
    }
  }
  label {
    margin-right: .5em;
    bottom: 0;
    &:last-child {
      margin-right: 0;
    }
  }
}

.webform-component-webform_time {
  input, select {
    width: inherit;
    float: none;
    diaplay: inline;
  }
}

.webform-component-date {
  select, input, button {
    width: inherit;
    float: none;
    diaplay: inline;
  }
}

input {
  &.year, &[type="text"].year {
    width: inherit;
    float: none;
    diaplay: inline;
  }
}

.webform-component-managed_file.webform-container-inline .form-managed-file {
  float: right;
  clear: right;
}

.webform-container-inline {
  &.webform-component-webform_time .webform-container-inline, &.webform-component-date .webform-container-inline {
    float: right;
    clear: right;
  }
}

.webform-component-managed_file.webform-container-inline input {
  width: inherit;
}

.webform-container-inline {
  &.webform-component-webform_time .webform-container-inline input, &.webform-component-date .webform-container-inline input {
    width: inherit;
  }
  &.webform-component-managed_file input {
    float: none;
  }
}

.webform-component-managed_file .form-file {
  margin: 0 10px 0 0;
}

.webform-container-inline .description {
  text-align: right;
}

/*Formalize Adjustments */
/*--------------------------*/

input {
  &[type="text"], &[type="number"], &[type="password"], &[type="search"], &[type="email"] {
    width: 100%;
  }
}

textarea {
  width: 100%;
}

select {
  width: 100%;
  &[multiple="multiple"] {
    margin: 0 0 .5em 0;
  }
}

html.js input.form-autocomplete {
}

/*ADVANCED SEARCH*/

/* Search block
----------------------------------------------------------------------------------------------------*/

form#search-block-form {
  margin: 0;
  padding: 0;
  display: block;
  input[type="search"] {
    background: none;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0 0 0 10px;
    vertical-align: center;
  }
  .form-item, .form-actions {
    margin: 0;
    padding: 0;
  }
  .form-type-textfield {
    width: 80%	;
  }
  .form-actions {
    display: inline-block;
    padding: 2px 10px 0 0;
    float: right;
    vertical-align: center;
  }
  input.form-submit {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
  }
}

/* Gabe's Robot catcher for forms */

.form-item-special-name {
  display: none;
}